

.heading {
    display: flex;
    justify-content: left;
    margin-left: 38px;
    padding-bottom: 0px;
    font-weight: bold;
    color: #008080;
  }

.capstone-container {
    max-width: 100vw;
    min-height: 500px;
    margin-left: 38px;
    margin-right: 38px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.capstone-card {
  position: relative;
  width: 310px;
  height: 310px;
  margin: 10px;
  display: inline-block;
  box-sizing: border-box;
}

.card-title {
  position: absolute;
  width: 310px;
  height: 310px;
}


.card-title-long {
  position: absolute;
  width: 310px;
  height: 310px;
}

.card-title-really-long {
  position: absolute;
  width: 310px;
  height: 310px;
}

.capstone-card:hover .card-title {
  left: calc(50% - 25px);
  transform: translate(10px, -12px);
  width: 175px;
  height: 35px;
  z-index: 1;
  transition: .5s linear;
}

.capstone-card:hover {
  border: 1.5px solid #008080;
}

.capstone-card:hover .card-title-long {
  left: calc(50% - 25px);
  transform: translate(10px, -12px);
  width: 175px;
  height: 45px;
  z-index: 1;
  transition: .5s linear;
}

.capstone-card:hover .card-title-really-long {
  left: calc(50% - 25px);
  transform: translate(10px, -25px);
  width: 175px;
  height: 60px;
  z-index: 1;
  transition: .5s linear;
}

.capstone-card:hover .department {
  font-size: 10px;
  padding-top: 5px;
  font-weight: 300;
}

.capstone-card:hover .pf-name {
  font-size: 10px;
  margin-top: 0px;
  font-weight: 400;
}

.card-text {
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  /* transition: 0.5s ease-in; */
  margin-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 310px;
}

.capstone-card:hover .card-text {
  opacity: 1;
}

.intro-wrapper {
  margin-top: 10px;
  margin-left: 38px;
  margin-right: 38px;

}

.intro {
  color: black;
  font-size: 1.1em;
  text-align: justify;
  padding-bottom: 25px;
  display: flex;
  justify-content: left;
}

p {
    color: black;
    font-size: 1.01em;
    word-break: normal;
    font-weight: 400;



}

.pf-name {
    margin: 0px;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;

}

.department {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 110px;
    text-align: center;
    letter-spacing: .5px;
}

.view-project {
  margin-top: 10px;
}

.view-project a {
  text-transform: uppercase;
  color: black;
  font-size: 13px;
  margin-left: 4px;
}

.view-project a:hover {
  color: #008080;
}
