section#about .picture-caption {
  display: table;
  position: absolute;
  top: calc(50% - 267px);
  left: calc(50% - 650px);
}


section#about img {
  float: left;
  width: 800px;
}

section#about a:link {
  color: rgb(223, 177, 57);
  text-decoration: none;
  }

section#about a:visited {
  color: rgb(223, 177, 57);
  text-decoration: none;
  }

section#about p {
  display: table-cell;
  text-align: justify;
  hyphens: auto;
  width: 500px;
  padding: 10px;
  margin: 0;
  height: 100%;
  vertical-align: middle;
}


@media screen and (max-width: 960px) {
  section#about .picture-caption {
    top: calc(50% - 167px);
    left: calc(50% - 400px);
  }

  section#about img {
    width: 500px;
  }

  section#about p {
    width: 300px;
    padding: 10px;
    font-size: 0.6em;
  }

}


@media screen and (min-width: 961px) and (max-width: 1280px) {
  section#about .picture-caption {
    top: calc(50% - 183px);
    left: calc(50% - 450px);
  }

  section#about img {
    width: 550px;
  }

  section#about p {
    width: 350px;
    padding: 10px;
    font-size: 0.7em;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  section#about .picture-caption {
    top: calc(50% - 200px);
    left: calc(50% - 500px);
  }

  section#about img {
    width: 600px;
  }

  section#about p {
    width: 400px;
    padding: 10px;
    font-size: 0.8em;
  }
}
