
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  padding-top: inherit;
}


p.fellows {
  margin: 20;
  position: inherit;
  left: 50%;
  padding-bottom: 10px;
  text-align: center;
  font-style: bold;
  font-size: 1.4em;
  transform: translate(-50%, -0%);
}

p.department {
  text-align: center;
  padding: 10px;
}

p.department:last-child {
    margin-bottom: 3em;
}

p.department a:link {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

p.department a:visited {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

p.department a:hover {
    color: #008080;
    text-decoration: none;
}
