.heading {
  display: flex;
  justify-content: left;
  margin-left: 38px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #008080;
}

.names-grid {
  display: flex;
  justify-content: space-between;
  margin-left: 38px;
  padding-right: 10%;
  margin-bottom: 5px;
}

.names-grid-mentors {
  display: flex;
  justify-content: space-between;
  margin-left: 38px;
  padding-right: 10%;
}

.names-grid-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vw;
  padding-right: 4vw;
}

.names-grid-empty-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vw;
  padding-right: 4vw;
}

.names-grid-column h4 {
  margin: 0;
  color: #008080;
}

.names-grid-column p {
  margin: 0;
}

.pf {
  margin-bottom: 40px;
  height: 5vh;
}
