/*Master styles */
body{
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/*Nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid#008080;
}

.nav-link-wrapper a:hover {
    color:#008080;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

.site {
    letter-spacing: 1px;
    color: #008080;
    font-size: 0.9em;
    left: calc(65% + 0.5em);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.right-side {
  text-align: right;
}

.bok {
  padding-top: 5px;
  letter-spacing: 1px;
  font-size: 0.9em;
  left: calc(65% + 0.5em);
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  height: 20px;
}

.bok a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.bok:hover a {
  color: black;
}

.bok:hover {
  border-bottom: 1px solid#000000;
}

/*Home styles*/
.home-content-wrapper {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.home-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.home-item-wrapper {
    position: relative;
}

.home-img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* About page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-wrapper {
  margin-left: 5%;
  margin-right: 10%;
}

.about-video-wrapper iframe {
    width: 100%;
    padding-left: 10%;
    padding-top: 30px;
}

.about-content-wrapper {
    padding: 1px;
}

.about-content-wrapper p {
  font-size: 14px;
  text-align: justify;
  padding-top: 20px;
}

.about-content-wrapper h1 {
    color: #008080;
    padding-top: 10px;
}