.heading {
    display: flex;
    justify-content: left;
    margin-left: 38px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #008080;
  }

.capstone-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    width: 1240px;
    margin-left: 38px;
}

.capstone-card {
    height: 425px;
    width: 240px;
    border: 3px solid #008080;
    overflow: auto;
}

.short {
    height: 375px;
}

.long {
    height: 425px;
}

.card-title-1 {
    background-color: #66b2b2;
    height: 65px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
}

.card-title-2 {
    background-color: #008080;
    height: 65px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
}

.card-title-3 {
    background-color: #BFBFBF;
    height: 65px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
}

.card-title-4 {
    background-color: #e8c15f;
    height: 65px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
}

.card-title-5 {
    background-color: #daa520;
    height: 65px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
}

.card-title-6 {
   background-color: #A6A6A6;
   height: 65px;
   width: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   text-align: center;  
}

.card-text {
    margin-left: 10px;
    margin-right: 10px;
}

.pf-name {
    margin: 0px;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 3px;
    text-align: center;
}

.department {
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.department-long {
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 1px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

p {
    margin:0px;
    margin-top: 7px;
    margin-bottom: 3px;
    color: black;
    font-size: 13px;
}

.view-project a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.view-project a:hover {
    color: #008080;
}

#capstone-6 {
    transform: translate(0px, -50px);
}

#capstone-8 {
    transform: translate(0px, -50px);
}

#capstone-10 {
    transform: translate(0px, -50px);
}

#capstone-11 {
    transform: translate(0px, -50px);
}

#capstone-13 {
    transform: translate(0px, -50px);
}

#capstone-15 {
    transform: translate(0px, -50px);
}

#capstone-16 {
    transform: translate(0px, -50px);
}

#capstone-18 {
    transform: translate(0px, -50px);
}

#capstone-20 {
    transform: translate(0px, -50px);
}

#capstone-21 {
    transform: translate(0px, -50px);
}

#capstone-23 {
    transform: translate(0px, -50px);
}

#capstone-25 {
    transform: translate(0px, -50px);
}

#capstone-26 {
    transform: translate(0px, -50px);
}

#capstone-28 {
    transform: translate(0px, -50px);
}

#capstone-30 {
    transform: translate(0px, -50px);
}